.card-title-container{
    padding: 1.25rem 1.25rem;
    background-color: #E2DCC8;
    border-radius: 5px 5px 0 0;
}

.card-title-wrapper h6{
    color: #0F3D3E;
    font-size: 20px;
    font-weight: bolder;
}

.card-title-wrapper i{
    color: #0F3D3E;
    /* font-size: 20px; */
}

.addNote-container .addNote-wrapper i{
    background-color: #100F0F;
    color: white;
    font-size: 40px;
    border-radius: 100%;
    padding: 15px 15px;
    position: fixed;
    right: 10px;
    top: 520px;
    margin: 0 12px 12px 0;
    transition: 0.3s;
}

.card-title-wrapper i:hover{
    cursor: pointer;
}

.addNote-container .addNote-wrapper i:hover{
    transition: 0.3s;
    transform: rotate(90deg);
    cursor: pointer;
}

.card-container{
    display: flex;
}

.cards{
    padding: 10px;
    max-width: 50%;
}

.action-to-note{
    background-color: #F1F1F1;
}

.cards{
    padding: 10px;
    max-width: 50%;
}

.action-to-note{
    position: absolute;
    z-index: 1;
    background-color: #f1f1f1;
    padding: 10px 5px;
    border-radius: 10px;
    /* display: none; */
}

.action-to-note div{
    padding: 5px;
    transition: 0.3s;
}

.action-to-note .delete{
    margin: 3px 0 3px;
}

.action-to-note .delete:hover{
    transition: 0.3s;
    border-radius: 10px;
    background-color: red;
    color: white;
}

.action-to-note .change-cover:hover, .action-to-note .edit:hover{
    transition: 0.3s;
    border-radius: 10px;
    color: white;
    background-color: #0F3D3E;
}

.show{display: block;}
